name: Manual Deploy



on: 

     #### manual process ###
   workflow_dispatch:     # line for manual 
       inputs:
           action:
             description: "apply terraform changes?"
             required: true
             default: plan
             type: choice
             options: 
               - apply
               - destroy


jobs:
   terraform:
     runs-on: ubuntu-latest

     steps:
      - name: checkout repo
        uses: actions/checkout@v4
      
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
      
      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate  

      - name: Terraform plan
        if:  ${{ github.event.inputs.action == 'apply' }}
        run: terraform plan -out=tfplan       # No new plan calculation to apply
       

      - name: Terraform Apply 
        if: ${{ github.event.inputs.action == 'apply' }}
        run: terraform apply -auto-approve tfplan 
        

      - name: terraform Destroy          # destroy 
        if: ${{ github.event.inputs.action == 'destroy' }}
        run: terraform destroy -auto-approve  # no required to plan
      
